.my_meta_control .description
{ display:none; }

.my_meta_control label
{ display:block; font-weight:bold; margin:6px; margin-bottom:0; margin: 12px 0px 0px 6px; }

.my_meta_control label span,
.my_meta_control label em
{ display:inline; font-weight:normal; }

.my_meta_control span
{ color:#999; display:block; }

.my_meta_control textarea, .my_meta_control input[type='text']
{ margin-bottom:3px; width:99%; }

.my_meta_control h4
{ color:#999; font-size:1em; margin:15px 6px; text-transform:uppercase; }

.my_meta_control select,
.my_meta_control input.range { width: 99%;  }
.my_meta_control input.range:hover { cursor: ew-resize; }

.my_meta_control select.ingredUnit {
  width: 95px;
  margin: 0px;
}

.my_meta_control input.ingredUnit {
  width: 80px;
  margin: 0px;
}

.my_meta_control input.ingredTitle,
.my_meta_control input.instrTitle {
  width: 100%;
  margin: 0px;
}

.my_meta_control table#ingredients,
.my_meta_control table#instructions {
  width: 100%;
}

.my_meta_control table#ingredients th,
.my_meta_control table#instructions th,
.my_meta_control table#ingredients td,
.my_meta_control table#instructions td {
 padding: 5px;
 text-align: left;
}

.my_meta_control table#ingredients th.colIngrAmount,
.my_meta_control table#ingredients td.colIngrAmount {
  width: 50px;
}
.my_meta_control table#ingredients th.colIngrUnit,
.my_meta_control table#ingredients td.colIngrUnit {
  width: 50px;
}
.my_meta_control table#ingredients th.colIngrTitle,
.my_meta_control table#ingredients td.colIngrTitle {
  width: auto;
}
.my_meta_control table#ingredients th.colIngrActions,
.my_meta_control table#ingredients td.colIngrActions,
.my_meta_control table#instructions th.colInstrActions,
.my_meta_control table#instructions td.colInstrActions {
  width: 27px;
}

.my_meta_control table#ingredients th.colInstrItem,
.my_meta_control table#ingredients td.colInstrItem,
.my_meta_control table#instructions th.colInstrItem,
.my_meta_control table#instructions td.colInstrItem {
  width: 15px;
}

.my_meta_control table#ingredients tr.delete td,
.my_meta_control table#instructions tr.delete td {
  background-color: red;
}
.my_meta_control table#ingredients tr.delete td input,
.my_meta_control table#ingredients tr.delete td button,
.my_meta_control table#instructions tr.delete td input,
.my_meta_control table#instructions tr.delete td button {
  opacity: .3;
}



.autoOptions label {
  display: block;
  width: 49%;
  float: left;
/*  background-color: #DFDFDF;*/
  border-bottom: none;
  padding: 3px 0px 6px 3px;
  margin: 0px;
}
.autoOptions label:hover {
  text-decoration: underline;
}

#optionRalColors {
  height: 150px;
  overflow: auto;
  clear: both;
}
#optionRalColors ol {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
#optionRalColors ol li {
  margin: 0px 0px 3px 0px;
  padding: 0px;
  border-bottom: solid 1px #ebebeb;
  height: 22px;
}

#post-body #optionRalColors ol li {
  width: 49%;
  float: left;
}

#side-sortables #optionRalColors ol li {
  width: 100%;
  float: none;
}



#optionRalColors ol li label {
  margin: 0px;
  padding: 0px;
  display: block;
}

#optionRalColors ol li label:hover {
  background-color: #f7f7f7;  
}

span.colorPreview {
  padding: 4px;
  display: block;
  float: left;
  margin: 0px 5px 0px 0px
}

span.colorPreview input {
  border: solid #FFFFFF 1px;
}

.my_meta_control h4 {
  border-bottom: solid 1px #ebebeb;
  margin-bottom: 4px;
  padding-bottom: 7px;
}


div#colorPreviewCurrent {
  padding: 4px;
  height: 20px;
  width: 20px;
  display: block;
  float: left;
  margin: 0px 5px 0px 0px
}


