/*
Theme Name:     Receptukas
Author:         Justinas Dabulskis
Description:   Tema receptu puslapiui. 
Version:       1.0

*/

html, body,  span, applet, object, iframe,
h1, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	background: transparent;
	border: 0;
	padding: 0;
	
}
body {
	max-width: 1200px;
    margin: 0 auto;
    color: #353535;
    /* font-family: Helvetica, sans-serif; */
	font-family: 'Montserrat', sans-serif;
    font-weight: 500;
	background: #fff;
	
}

h1,  h3, h4, h5, h6 {
	clear: both;
	font-weight: normal;
}
ol, ul {
	list-style: none;
}
blockquote {
	quotes: none;
}
blockquote:before, blockquote:after {
	content: '';
	content: none;
}
del {
	text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a img {
	border: none;
}

a {
	/* text-decoration: none; */
}




body {
background:#ffffff;

}
h1, h3, h4, h5, h6 {
	clear: both;
	font-weight: normal;
	
}
/* Text elements */
p {
	margin-bottom: 1px;
}
ul {
	list-style: square;
	margin: 0 0 0 0;
}
ol {
	list-style: decimal;
}
ol ol {
	list-style: upper-alpha;
}
ol ol ol {
	list-style: lower-roman;
}
ol ol ol ol {
	list-style: lower-alpha;
}
ul ul,
ol ol,
ul ol,
ol ul {
	margin-bottom: 0;
}
dl {
	margin: 0 0 24px 0;
}
dt {
	font-weight: bold;
}
dd {
	margin-bottom: 18px;
}
strong {
	font-weight: bold;
}


em,
i {
	font-style: italic;
}
big {
	font-size: 131.25%;
}
ins {
	background: #ffc;
	text-decoration: none;
}
blockquote {
	font-style: italic;
	padding: 0 3em;
}
blockquote cite,
blockquote em,
blockquote i {
	font-style: normal;
}
pre {
	background: #f7f7f7;
	color: #222;
	line-height: 18px;
	margin-bottom: 18px;
	padding: 1.5em;
}
abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
sup,
sub {
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
a:link {
	/* color: #0066cc; */
	
}
a:visited {
	/* color: #743399; */
}
a:active,
a:hover {
	/* color: #ff4b33; */
}
h2, h1 {
	margin: 0;
    font-size: 16px;
    font-weight: 700;
    color: #2d2b26;
    font-family: 'Montserrat', sans-serif;

}


 .grid-container {
	 display: grid;
	 grid-template-columns: 20% 55% 25%;
	 /* background-color: #f0f0f0; */
 }

  .grid_item {
	text-align: center;
	background-color: rgb(228, 214, 214);
  }
 
 #remas1 {
margin:0px auto;
background-position:bottom; 
position: fixed;
 }


.top {
	margin: 0px auto;
	position: fixed;
    overflow: hidden;
    z-index: 1000;
    background-color: white;
    width: 100%;
    max-width: 1200px;
}
.topmobile {
	display: none;
}

#header {
	display: flex;
}

.logo {
	height: 100px;
	display:flex;
	text-align: center;
	/* background-color: #f0f0f0; */
	/* background-image: url('images/logo.gif'); */
}

.logo a {
	/* width: max-content;
	font-family: 'Dancing Script', cursive;
    color: rgba(37, 17, 0, 0.74);
	font-size: xx-large;
	text-decoration-line: none;
	padding: 25px; */
	padding: 0 15px;
}


.advertisement {
	/* background-color: rgb(180, 213, 235); */
	width: -webkit-fill-available;
	background: url(images/test.jpg);
	background-color: #8e713d;
	background-blend-mode: lighten;

}


.nav, .menu{
	display: flex ;
	list-style-type: none; 
}
.nav {
	background-color: #e6a40f;
}

.nav a {
	color: #2d2b26;
    display: block;
    line-height: 28px;
	font-size: 14px;
	font-weight: 500;
    padding: 2px 10px;
    border-right: 2px solid #fff;
    text-decoration: none;
}

.nav a:hover {
	color: rgba(255,255,255,.75);
}
#home {
	position: relative;
	width: 23px;
	height: 28px;
	padding: 2px 5px;
	background: url(images/home-solid.svg) no-repeat;
	background-position: center;
	float: left;
	border-right: 1px solilid #ffffff;
	cursor: pointer;
	/* opacity: 0.7; */
}

#searchform {
	position: absolute;
	right: 0;
	padding: 5px 10px;
}

#searchform fieldset {
	display: flex;
}

.fa-search {
	color: #2d2b26;
}

#searchform button {
	padding-left: 1px;
    width: 40px;
    background-color: #e6a40f;
    border: 1px solid white;
    height: 22px;
}

#searchform input, #autorius_input, #comment {
	border: 1px solid white;
	width: 190px;
	color: #2d2b26;
	font-family: 'Montserrat', sans-serif;

}

::placeholder {
	color: #534c3e94;
}

/* antro lygio meniu  */
#access1 {
	background-color: #565144bd;
	padding: 2px 0px;
}

#access1 a {
	color: #ffffffa4;
	padding: 0 5px;
	text-decoration: none;
}

#access1 a:hover {
	color: rgba(255,255,255,.75);
	padding: 0 10px;
} 

.remas {
	padding-top: 138px;
}

.remasp {
	padding-top: 155px;
}

#primary {

}

.xoxo h3 {
	margin-bottom: 0px;
	margin-top: 0px;
    background-color: #e6a40f;
	padding: 5px 0 5px 0px;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
}


.xoxo ul {
	display: block;
	list-style-image: url(images/caret-right-solid.svg);
    margin-left: 1.3em;
    color: #5d432f;
    border: none;
    padding-left: 10px;
    line-height: 18px;

}

.xoxo ul li {
    font-weight: 700;
    /* border-bottom: 1px solid #b1aeae; */
}

.xoxo ul li:hover {
	background-color: #ffffffa4;
}

.xoxo ul a {
	/* font-family: "Vollkorn"; */
    line-height: 1.6;
    color: #2d2b26;
	font-size: 14px;
	font-weight: 500;
	text-decoration: none;

}

.xoxo ul a:hover {
	color: #2d2b26;
	font-weight: 600;
}


.xoxo img{
	width: 100%;
}

.bloko_pavadinimas, .comment-reply-title {
	background: #e6a40f;
    padding: 0 0 0 15px;
    font-size: 16px;
	line-height: 28px;
	margin: 0;
	margin-top: 5px;
    font-weight: 600;
    color: #2d2b26;
    font-family: 'Montserrat', sans-serif;
}

#content {
	padding: 0px 10px;
	
}
.receptai_tituliniam, #relative {
	display: grid;
	grid-template-columns: auto auto auto;
	column-gap: 10px;
	row-gap: 5px;
}

.recipe_promo11:last-child {
	display: none;
}

.recipe_promo, .recipe_promo11{
	padding: 5px;
	background-color: #fbf9f7;
	border: 1px solid rgb(248, 246, 238)
	
}

.recipe_promo:hover, .recipe_promo11:hover {
	border: 1px solid #534c3e;
	background-color: #f5f0ea;
	transition: 0.5s;
} 

.receptai_tituliniam img, #relative img{
	/* height: 100%; */
	height: 120px;
    width: 100%;
    vertical-align: middle;
    object-fit: cover;
    max-height: 205px;
}

.receptai_tituliniam a, #relative a {
	/* font-family: "Vollkorn"; */
	line-height: 1.6;
	color: #2d2b26;
	font-size: 14px;
	font-weight: 500;
	text-decoration: none;
	color: #2d2b26;
	font-weight: 600;
	text-align: left;
    padding: 5px 0px 5px 0px;


}

.po_foto {
}

.po_foto , .po_foto a {
	color: #5d432f;
    text-align: right;
    font-weight: bold ;
    font-size: 14px;
    margin-right: 10px ;
    margin-bottom: 5px;
    margin-top: 10px;
}

.straipsniai ul {
	margin: 15px;
	list-style: none;
    color: #5d432f;
    font-size: 13px;
    padding: 0 0 0 2px;
}

.straipsniai a {
	color: #5d432f;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
    border-bottom: none !important;
    vertical-align: top;
}

/* single recipe style  */
#breadcrumb1, #breadcrumb {
	
    padding: 5px 0 5px 0px;
    /* color: #5d432f; */
    font-size: 12px;
    line-height: 14px;
}

#breadcrumb1 a, #breadcrumb a {
	color: #2d2b26;
    text-decoration: none;
}


.entry-title {
	/* font-family: Georgia,Times,serif; */
	font-size: 31px;
    font-weight: bold;
    line-height: 1.2;
    color: #2d2b26;
    margin-bottom: 10px;
}
#trumpas_aprasymas, .trumpaInfo {
	font-family: 'Quicksand', sans-serif;
	font-size: 17px;
	font-style: italic;
    margin-bottom: 15px;
	color: #2d2b26;
    /* font-weight: 400; */
	background-color: #ffffff;
   }

.trumpaInfo {
	margin-top: 10px;
	margin-bottom: 0px;
}

#info_pries_recepta {
	display: flex;
	justify-content: space-between !important;
	padding-top: 5px;
	border-top: 2px dotted #5d432f;
	border-bottom: 2px dotted #5d432f;
	color: #534c3e;
	font-size: 14px;
	justify-content: center;
}

.fblike_time {
	display: flex;
	margin-left: -10px;
}

#info_pries_recepta_mobile {
	display: none;
}


/* #konkretus_recepto_foto {
	padding-top: 7px;
  } */

.slidercontainer {
	position: relative;
}

.sliderimage {
	width: 100%;
	min-height: 300px;
	object-fit: contain;
	padding-top: 10px;
}

   .prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: 10px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  background-color: #ab8888;
  opacity: 0.2;
}

.next {
	right: 0;
	border-radius: 3px 0 0 3px;
  }

  .prev:hover,
  .next:hover {
	background-color: rgb(0 0 0);
  }

 .recepto_info {
	 display: flex;
	 margin-top: 15px;
 }

/* info pries recepta  */

 #laikas {
	width: 15px;
    height: 15px;
    background: url(./images/clock-solid.svg);
    float: right;
    margin-top: 3px;
    margin-right: 8px;
 }

 
 .prepTime {
	 
 }

 .prepTime {
	padding-top: 2px;
 }

 .prepTime p {
	display: inline;
 }

 
 #laikas_min {
	 /* margin-right: 30px; */
	 padding-top: 2px;
 }

 .isbande {
	 margin-left: 15px;
 }

 #reitingas {
	 padding-top: 3px;
	 padding-right: 3px;
 }

/* end info pries recepta  */

 .stulpelis {
	float: left;
	padding: 10px 10px 0 10px;
  }

  .stulpelis h2 {
	/* border-bottom: 2px solid #3f3d3b94; */
	padding-bottom: 7px;
}


  .row_sudalys {
	width: 30%;
  }
  
  .row_gaminimas {
	width: 70%;
  }

  .row_sudalys ul {
	list-style-type: none;
    padding: 0px;
    overflow: hidden;
    line-height: 1.2;
  }
  .row_sudalys ul li {
	
    /* border-bottom: 1px dashed #3f3d3b; */
	padding: 6px 0;
	list-style: none;
}

.row_sudalys ul li * {
	color: #3f3d3b;
	/* text-decoration: none; */
}
.row_sudalys ul li *:hover {
	color: #000000;
	/* text-decoration: none; */
}

.row_sudalys ol li a {
	color: #3f3d3b;
	

}

.row_gaminimas ul li:nth-child(2n) {
	background-color: #fbf9f7;
}

.row_gaminimas ol li:nth-child(2n) {
	background-color: #fbf9f7;
}

/* .gaminimas:nth-child(2n) {
	background-color: red;
} */


.row_gaminimas ul {
	list-style-type: none;
    padding: 0px;
	margin-top: 5px;
    overflow: hidden;
	line-height: 1.2;
	background-color: #f5f0ea;
}
.row_gaminimas ol {
	list-style-type: none;
    padding: 0px;
    overflow: hidden;
    line-height: 1.2;
}

.row_gaminimas li {
    color: #2d2b26;
	/* font-weight: 700; */
    padding: 15px 15px;
} 

.row_gaminimas span {
    display: block;
    float: left;
    width: 38px;
    line-height: 38px;
    text-align: center;
    border-radius: 50%;
    background: #534c3e;
    color: #fff;
    font-family: 'Quicksand';
    font-size: 17px;
    font-weight: 900;
    margin-right: 15px;
	margin-top: -5px;
}
.instruction {
    overflow: hidden;  
}

.instruction a, .trumpaInfo a {
	color: #2d2b26;
	font-weight: 600;
}

/* komentaru skiltis */

#komentaras {
	margin-top: 5px;
	width: -webkit-fill-available;
	padding: 0 0 0 15px;
	border: 1px solid #cccccc;
	color: #2d2b26;	
	background: #f5f0ea;	
}

#komentaras1 {
	margin-top: 5px;
	width: -webkit-fill-available;
	padding: 0 0 0 15px;
	border: 1px solid #cccccc;
	color: #2d2b26;	
	background: #fbf9f7;	
}

.komentaro_autorius {
	margin-right: 15px;
	text-align: right;
	font-weight: 500;
	font-size: 12px;
}

.citata {
	width: 12px;
    height: 12px;
    background: url(images/kabutes.svg) no-repeat;
    float: left;
    margin-left: -12px;
}

.komentaro_tekstas {
	text-align: left;
    /* font-style: italic; */
    margin-left: 3px;
}

.komentaro_tekstas p {
	margin: 5px;
}

#atsiliepimas {
    padding: 5px 0 0 15px;
    border: 1px solid #cccccc;
    margin-top: 5px;
    background: #f5f0ea;
}

#respond textarea {
	color: #5d432f;
    padding: 2px;
    margin-top: 5px;
    width: 95%;
    /* float: right; */
    margin-right: 10px;
    height: 70px;
    border: 1px solid #cccccc;
    overflow: hidden;
}

.comment-form-comment{
	margin: 0px;
}

#siusti, #respond .form-submit input {
	cursor: pointer;
    float: right;
    border: none;
    width: 99px;
    height: 27px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #e6a40f;
    font-size: initial;
}

/* widget widget_polls-widget */

 .wp-polls p {
	text-align: center;
    color: #5d432f;
	font-size: 14px;
	margin: 10px;
 }

 .wp-polls .pollbar {
    margin: 1px;
    font-size: 8px;
    line-height: 10px;
    height: 10px;
    background: #eca80d;
    border: 1px solid #c88d08;
}

.wp-polls-ul {
	margin: 0px !important;
}

.textwidget iframe {
	height: 135px !important;
}


/* #footer  */
#footer {
	clear: both;
    width: 100%;
    background: #fdf9fa url(images/footer_bcg.gif) repeat-x;
    padding-bottom: 10px;
    margin-top: 10px;
}

#colophon {
	display: flex;
	margin-left: 25%;
}

#footer_turinys {
	padding-right: 30px;
    padding-bottom: 10px;
    margin: 10px ;
    float: left;
    border-right: 2px solid #5d432f;
}

#footer_turinys H3 {
	background-color: #fdf9fa;
	margin-top: 10px;
	margin-bottom: 5px;
}

#footer_copyright div {
	margin-top: 20px;
	margin-bottom: 10px;
}

#footer_copyright a, #footer_turinys a {
	margin-top:5px;
	color: #5d432f;
    text-decoration: none;
    border-bottom: 2px dotted #5d432f;
}

#footer_turinys ul  li {
	border: none;
}

/* receptai pagal tipa */

.receptas_su_info, .receptas_su_info_1 {
	display: flex;
	padding: 10px;
	margin-bottom: 5px;
}

.receptas_su_info {
	background-color: #f5f0ea;
	
}

.receptas_su_info_1 {	
	background-color: #fbf9f7;
}

.receptas_su_info_foto img {
	height: 120px;
    width: 190px;
    vertical-align: middle;
    object-fit: cover;
    max-height: 205px;
}

.category_recipe_info {
	padding-left: 10px;
	padding-top: 5px;
}
.laikas_min1 {
	display: flex;
	padding: 0px 0px 7px 0px;
}
#time {
	width: 22px;
    height: 17px;
    background: url(./images/clock-solid.svg);
    /* margin-top: 3px; */
    margin-right: 8px;
}
.min {
	padding-right: 10px;
}

.category_recipe_title a {
	font-size: 16px;
    font-weight: 700;
    line-height: 1.2;
    color: #2d2b26;
	text-decoration: none;

}

.receptas_su_info_aprasymas  {
	padding-top: 5px;
}


@media (max-width: 992px) { 
	#primary {
		display: none;
	}

	.grid-container {
		grid-template-columns: 70% 30%;
	}

}


@media (max-width: 768px) {

	.grid-container {
		display: block;
		grid-template-columns: 100%;
	}


	 #header {
		display: block;
		background-color: white;
	}
	.topmobile {
		display: block;
		z-index: 1000;
	}
	.logo{
		height: 50px;
	}

	.logo a {
		font-size: large;
		text-decoration-line: none;
		padding: 0;
		margin: auto;
		color: #2d2b26;
		
	}

	.top, #primary, #secondary {
		display: none;
	}

	.topmobile {
		width: 100%;
		background: #e6a40f;
	}

	.menubtn {
		/* background-color: #e6a40f; */
		width: 100%;
		height: 20px;
		padding: 5px 0 5px 20px;
	}

	.menu {
		display: block;
	}

	#homeico {
		height: 20px;
		padding: 10px 0 5px 0;
	}

	#access *, .fas {
		color: rgb(255 255 255);
		text-decoration: none;
		padding: 0px 0 5px 0;
	}

	#drop li a:hover, .fas:hover {
		color: rgba(255,255,255,.75);
	}

	#drop {
		display: none;
		padding-left: 20px;
	}
	#searchform {
		float: right;
		position: relative;
		padding: 0px 1px 2px 0px;
		/* opacity: 0.7; */
		right: 20px;
	}
	
	#searchform input {
		width: 150px;
	}
	#content {
		padding: 0px 5px;
	}

	/* receptu blokai  */
	.receptai_tituliniam{
		grid-template-columns: auto auto;
	}

	#relative {
		grid-template-columns: 49% 49%;
	}

	.recipe_promo11:last-child {
		display: grid;
	}


	/* receptu blokai  */



	/* info pries recepta  */

	#info_pries_recepta{
		display: none;
	}

	#info_pries_recepta_mobile{
		display: block;
		padding: 5px 0px;
		border-top: 2px dotted #5d432f;
		border-bottom: 2px dotted #5d432f;
		color: #5d432f;
		font-size: 14px;
		justify-content: center;
	}

	.mobile_rating, .prepare_time_mobile {
		display: flex;
		margin: auto;
		width: fit-content;
	}

	#fb-root {
		margin-left: -20px;
	}

	
	/* info pries recepta  end */

	.remas, .remasp {
		padding-top: 82px;
	}



	/* slider  */
	.slider {
		margin-bottom: 5px;
	}

	.sliderimage {
		min-height: 250px;

	}
	/* end slider  */
	
	/* recipe info  */
	.recepto_info {
		display: grid;
	}
	.row_sudalys, .row_gaminimas {
		width: 100%;
	}
	.row_gaminimas {
		margin-top: 10px;
	}

	.stulpelis {
		padding: 0;
	}

	/* end recipe info  */


	#footer {
		display: none;
	}

	/* recipe categories */

	.receptas_su_info_1, .receptas_su_info {
		display: block;
	}

	.receptas_su_info_foto img {
		height: 190px;
		width: 100%;
		vertical-align: middle;
		object-fit: contain;
	}

	.category_recipe_info {
		padding-top: 10px;
	}
	#time {
		width: 23px;
	}

	/* @media (max-width: 768px) */
}

/* #header {
background:#fdf9fa;
width: 1200px;
height:100px;
padding-top:10px;
margin:0px auto;
position:relative;
} */

/* #logo {
width:240px;
height:90px;
float:left;
background: url('images/logo.gif')
}
#add {
width:728px;
height:90px;
float:right;
}
#access {
background: #eca80d url('images/fonas.png') repeat-x;
width:1000px;
height:28px;
margin:0px auto;
}

#access1{
margin-left:35px;
height:28px;
width:1000px;
margin-top:0px;
margin: 0px auto;
position:relative;
}
#access2{
background:#5d432f;
width:440px;
margin-left:10px;
height:28px;
margin-top:0px;
padding: 0 0 0 15px;
}

#tarpas{
width:440px;
margin-left:10px;
padding:0 0 0 15px;
background:#eca80d;
height:20px;
}

#home{
position: relative;
width:23px;
height:28px;
padding: 0 5px;
background:url('images/home.png') no-repeat ;
background-position:center;
float:left;
border-right:1px solilid #ffffff;
cursor:pointer;
} */
/* #main {

	clear: both;
	overflow: hidden;
	padding-top:5px;
	width:1000px;

	
	} */
/* meniu */
	
/* #access .menu-header,
div.menu {
	font-size: 13px;
	width: 700px;
	display:inline;
}
#access .menu-header ul,
div.menu ul {
	list-style: none;
	margin: 0;
}
#access .menu-header li,
div.menu li {
	float: left;
	position: relative;
}
#access a {

	color: #5d432f;
	display: block;
	line-height: 28px;
	padding: 0 5px;
	border-right:1px solid #ffffff;
	text-decoration: none;
	font-weight:bold;
}

#access ul ul {
	box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
	display: none;
	position: absolute;
	top: 38px;
	left: 0;
	float: left;
	width: 180px;
	z-index: 99999;
}
#access ul ul li {
	min-width: 180px;
}
#access ul ul ul {
	left: 100%;
	top: 0;
}
#access ul ul a {

	background: #333;
	line-height: 1em;
	padding: 10px;
	width: 160px;
	height: auto;
}
#access li:hover > a,
#access ul ul :hover > a {
    color: #5d432f;
	background:#fdf9fa;
	text-decoration:none;
}

#access ul li.current_page_item > a,
#access ul li.current-menu-ancestor > a,
#access ul li.current-menu-item > a,
#access ul li.current-menu-parent > a {
	color:#5d432f;
    background:#fdf9fa;
	text-decoration:none;
	
}
* html #access ul li.current_page_item a,
* html #access ul li.current-menu-ancestor a,
* html #access ul li.current-menu-item a,
* html #access ul li.current-menu-parent a,
* html #access ul li a:hover {
	color: #fff;
	
	
} */

/*secon */
/* #access1 .menu-header,
div.menu {
	font-size: 13px;
	display:inline;
}
#access1 .menu-header ul,
div.menu ul {
	list-style: none;
	margin: 0;
	
}
#access1 .menu-header li,
div.menu li {
	float: left;
	position: relative;
}
#access1 a {

	color: #5d432f;
	display: block;
	line-height: 30px;
	padding: 0 5px;
	text-decoration: none;
	font-weight:bold;
}


#access1 ul ul {
	box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
	display: none;
	position: absolute;
	top: 38px;
	left: 0;
	float: left;
	width: 180px;
	z-index: 99999;
}
#access1 ul ul li {
	min-width: 180px;
}
#access1 ul ul ul {
	left: 100%;
	top: 0;
}
#access1 ul ul a {

	background: #333;
	line-height: 1em;
	padding: 10px;
	width: 160px;
	height: auto;
}
#access1 li:hover > a,
#access1 ul ul :hover > a {
	color: red;
	background:#ffffff;
	text-decoration:none;
}

#access1 ul li.current_page_item > a,
#access1 ul li.current-menu-ancestor > a,
#access1 ul li.current-menu-item > a,
#access1 ul li.current-menu-parent > a {
background:#ffffff;	
}
* html #access1 ul li.current_page_item a,
* html #access1 ul li.current-menu-ancestor a,
* html #access1 ul li.current-menu-item a,
* html #access1 ul li.current-menu-parent a,
* html #access1 ul li a:hover {
	color: #fff;
	
}

#access2 .menu-header,
div.menu {
	font-size: 15px;
	display:inline;
}
#access2 .menu-header ul,
div.menu ul {
	list-style: none;
	margin: 0;
	

}
#access2 .menu-header li,
div.menu li {
	float: left;
	margin-left:-15px;
	margin-right:15px;
	position: relative;
		
}
#access2 a {
color:#ffffff !important;
border:none !important;
	display: block;
	line-height: 28px;
	padding: 0 5px;
	text-decoration: none;
	font-weight:bold;
	}

#access2 ul ul {
	box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
	display: none;
	
	position: absolute;
	top: 38px;
	left: 0;
	float: left;
	z-index: 99999;
}
#access2 ul ul li {
	min-width: 180px;
	
}
#access2 ul a {
margin-left:-2px !important;
	
}
#access2 ul ul ul {
	left: 100%;
	top: 0;
	
}
#access2 ul ul a {

	background:#eca80d;
	line-height: 1em;
	padding: 10px;
	height: auto;
	
}
#access2 li:hover > a,
#access2 ul ul :hover > a {

	color:#ffffff;
	text-decoration:none;
	background:#eca80d;
	
}

#access2 ul li.current_page_item > a,
#access2 ul li.current-menu-ancestor > a,
#access2 ul li.current-menu-item > a,
#access2 ul li.current-menu-parent > a {
color:#ffffff ;
	background:#eca80d;
	text-decoration:none;
	border:none;
	
	
}
* html #access2 ul li.current_page_item a,
* html #access2 ul li.current-menu-ancestor a,
* html #access2 ul li.current-menu-item a,
* html #access2 ul li.current-menu-parent a,
* html #access2 ul li a:hover {
	color: #fff ;
	
}
.entry-title  {
color: #5d432f;
padding:0 0 0 15px;
font-size:30px;
margin-top:5px;
font-weight:bold;
line-height: 33px;
}
.entry-title1  {
color: #5d432f;
padding:0 !important;
font-size:15px;
margin-top:5px;
font-weight:bold;
} */
/* remas 1+1+1 */

/* #content {
float:left;
 width: 475px;
 background:#ffffff;
 margin-bottom:20px;
}

#content-priedai {
float:left;
 width: 775px;
 background:#ffffff;
 margin-bottom:20px;
}

#trumpas_aprasymas {
margin-left:10px;
font-size:13px;
padding:0 0 0 5px;
width:450px;
color:#5d432f;
margin-top:5px;
line-height:20px;
}

#trumpas_aprasymas1 {
margin-left:10px;
font-size:13px;
padding:0 0 0 5px;
width:450px;
color:#5d432f;
margin-top:5px;
line-height:20px;
background:#fdf9fa;
}

#puslapio_tekstas {
padding:0 0 0 15px;
color:#5d432f;
line-height:20px;
background:#fdf9fa;
border:1px solid #333333;
margin-left:10px;
width:438px;
padding-top:5px;
}

#tekstas {
padding:0 0 0 13px;
margin-left:10px;
color:#5d432f;
line-height:20px;
border:1px solid #cccccc;
background:#fdf9fa;
}
#tekstas1 {
margin-top:10px;
margin-left:15px;
color:#5d432f;
line-height:20px;
font-size:13px;
}

.recipe_promo{
margin-right:15px;
padding:0px;
width:130px;
    display: inline-block;
    *zoom: 1;
    *display: inline;

vertical-align: top;
}

.recipe_promo11{
margin-right:10px;
padding:0px;
width:130px;
    display: inline-block;
    *zoom: 1;
    *display: inline;

vertical-align: top;
}


.recepto_foto {
padding:0px;
width:130px;
margin-top:5px;
}

.recepto_foto a {
border-bottom:none !important;
}
.recepto_foto_pavadinimas,.recepto_foto_pavadinimas a{
line-height:17px !important;
color:#5d432f;
font-size:12px;
font-weight:bold;
text-decoration:none;
width: 130px;
padding:0;
text-align: left; 
border-bottom:none !important;
}


.recepto_foto_pavadinimas1{
float:left;
width:440px;
max-width: px;
padding:0 px;
margin-top:-5px;
text-align: left; 
}
.receptai_tituliniam {
 margin-left:10px;
padding:0 0 0 15px;
margin-top:5px;

}
.pries_foto {
font-size:13px;
color:#5d432f;
margin-left:10px;
padding:0 0 0 15px;
font-weight:bold;

}
.po_foto ,.po_foto a {
color:#5d432f;
text-align:right ;
font-weight:bold !important;
font-size:12px !important;
margin-right:10px !important;
margin-bottom:5px !important;
border:none !important;
margin-top:10px;
}



.straipsniai a {
	color:#5d432f;
	font-weight:bold;
	font-size:12px;
	line-height:21px !important;
	text-decoration:none;
	border-bottom:none !important;
	vertical-align:top;
}

#reply-title  {
letter-spacing:1px;
background: #5d432f;
width:440px;
margin-left:10px;
padding:0 0 0 15px;
color:#ffffff;
font-size:20px;
line-height: 28px;
margin-top:10px;
}

#reply-title h3 {
color:#ffffff;
}
.bloko_pavadinimas{
background: #5d432f;
width:440px;
margin-left:10px;
padding:0 0 0 15px;
color:#ffffff;
font-size:19px;
line-height: 28px;

}

.bloko_pavadinimas h1  {
color:#ffffff;
font-size:19px;
line-height: 28px;

}

.bloko_pavadinimas h2  {
color:#ffffff !important;
font-size:19px !important;
line-height: 28px;
font-weight: normal !important;
padding: 0 !important;

}

#slider {
height:235px;
width:455px;
margin-left:10px;
margin-bottom:5px;

}

#info_pries_recepta {
height:24px;
width:450px;
margin-left:15px;
border-top:2px dotted #5d432f;
border-bottom:2px dotted #5d432f;
margin-top:5px;
}

#reitingas  {
float:right;
color:#5d432f;
font-size:14px;
font-weight:bold;
display:inline;
line-height:24px !important;
}
#reitingas img {
padding:0;
border:0;
margin:0;
position:relative;
vertical-align:baseline;
height:14px;
}
#laikas {
width:14px;
height:14px;
background: url('images/laikas.png');
float:right;
margin-top:5px;
}

.laikas1 {
width:14px;
height:14px;
background: url('images/laikas.png');
float:left;
margin-left:5px;
margin-top:5px;
}
#laikas_min {
float:right;
margin-left:5px;
margin-right:10px;
font-weight:bold;
font-size:12px;
margin-top:5px;
line-height:14px;
color:#5d432f;
}
#post-avg
{
margin-top:5px;
margin-left:10px;
float:left;
}
.info_juosta {
float:left;
width:250px;
margin-left:5px;
display:table;
}
.laikas_min1 {
float:left;
margin-left:5px;
font-weight:bold;
font-size:12px;
margin-top:5px;
line-height:14px;
color:#5d432f;
}

.bloko_pavadinimas h1,.bloko_pavadinimas h2 {
color:#fff !important;

}
.bloko_pavadinimas1 {
letter-spacing:0px;
background: #5d432f;
width:440px;
margin-left:10px;
padding:0 0 0 15px;
color:#ffffff;
font-size:19px;
line-height: 28px;

}
#content {
	color: #333;
	font-size: 15px;
	line-height: 22px;
}#content a {
	color:#5d432f;
	text-decoration:none;
border-bottom: 2px dotted #5d432f ;
}

#content ul,
#content ul ,
#content dd,
#content pre,
#content hr {  
list-style:none;
	color:#5d432f;
	font-size:13px;
	padding:0 0 0 2px;
}

#content ul a{
margin-left:5px;
}
#content ol {
margin-bottom: 2px;
color:#5d432f;
padding-left:38px;
font-size:13px;
*padding-left:45px; 
}

.entry-content p {
	margin-bottom: 2px;
	color:#5d432f;
	padding:0 0 0 15px;
	display:block;
	font-size:13px;
}


#content ul ul,
#content ol ol,
#content ul ol,
#content ol ul {
	margin-bottom: 0;
}
#content pre,
#content kbd,
#content tt,
#content var {
	font-size: 15px;
	line-height: 21px;
}
#content code {
	font-size: 13px;
}
#content dt,
#content th {
	color: #000;
}
#content h4,
#content h5,
#content h6 {

	color: #5d432f;
	font-weight:bold;
	font-size:22px;
	line-height: 1.3em;
padding:0 0 0 15px;
}
#content h2{
	color: #5d432f;
padding:0 0 0 15px;
font-size:15px;
margin-top:5px;
	font-weight:bold;
	display:inline;

}

#content table {
	border: 1px solid #e7e7e7;
	margin: 0 -1px 24px 0;
	text-align: left;
	width: 100%;
}
#content tr th,
#content thead th {
	color: #888;
	font-size: 12px;
	font-weight: bold;
	line-height: 18px;
	padding: 9px 24px;
}
#content tr td {
	border-top: 1px solid #e7e7e7;
	padding: 6px 24px;
}
#content tr.odd td {
	background: #f2f7fc;
} */
/* desines puses meniu*/


/* #secondary {
background:#fdf9fa;
 width: 300px;
 float: right;

}
#primary {
background:#fdf9fa;
 width: 223px;
 float: left;
 
 
}

.widget-area ul {

	list-style: none;
	margin-left: 0;
	
}
.menu-kategorijos-container  {
	border:1px solid #cccccc;
}
.dienos-receptas  { */
/* } */
/* .widget-title {
font-size:13px;
line-height:27px;
color: #5d432f;
background: url('images/desine_meniu.gif');
padding-left:20px;
width:300px;
height:28px;
font-weight: bold;
border:none;
}
.widget-title_kaire {
color: #5d432f;
font-size:12px;
line-height:27px;
background: url('images/kaire_meniu.gif') no-repeat;
padding-left:20px;
width:225px;
height:28px;
font-weight: bold;
border:none;

}
.widget-area ul a {
	list-style: none;
	margin-left: 0;
	border:none;
	
}
.widget-area ul ul {
list-style-image: url('images/ul_li.png');
	margin-left: 1.3em;
	color:#5d432f;
	border:none;
	padding-left:10px;
	line-height:18px;

	
}
.widget-area a {
	color:#5d432f;
	font-weight:bold;
	font-size:12px;
	text-decoration:none;
	border:none;
	border:1px solid red;
	vertical-align:top;
	} 

#autorius {
margin-top:20px;
width:440px;
margin-left:10px;
padding-left:15px;
border-top: 2px dotted #5d432f ;
border-bottom: 2px dotted #5d432f ;
min-height:120px;
}

#fotke{
border:none ;
margin-top:5px;
margin-bottom:5px;
width:100px;
height:100px;
padding:0px;
float:left;
margin-right:10px;
}
#autoriaus_aprasymas{
text-align:left;
color: #5d432f;
font-size:14px;
line-height:17px;
}
#autoriaus_vardas a {
	color: #5d432f;
	font-size: 15px;
	font-weight: bold;
	text-decoration:none;
}

#tools {
width:200px;
float:right;
margin-right:10px;
height:px;
display:inline;

}
#tools a {
border:none;

}
.tool_fb {
float:right;
width:27px;
height:27px;
background: url('images/fb.png');
margin-left:5px;
background-position:top ;
cursor:pointer;
}
.tool_fb:hover {
background-position:bottom;
}

#tool_print {
float:right;
width:27px;
height:27px;
background: url('images/print.png');
margin-left:5px;
background-position:top ;
cursor:pointer;
}
#tool_print:hover {
background-position:bottom;
}

#tool_popup {
float:right;
width:27px;
height:27px;
background-position:top ;
background: url('images/popup.png');
margin-left:5px;
cursor:pointer;
}

#tool_popup:hover {
background-position:bottom;
}

.tool_dalintis {
float:right;
width:27px;
height:27px;
background: url('images/dalintis.png');
margin-left:5px;
background-position:top ;
cursor:pointer;
}
.tool_dalintis:hover {
background-position:bottom;
}

#first {
 width: 210px;
 float:right;
}
#first a {
color: #5d432f;
}
#first h2{
display:inline;
}

#konkretus_recepto_foto  a{
border:none;

}
#konkretus_recepto_foto {
margin-right:10px;
margin-top:10px;
float:right;
border:none;
position: relative;

}
#konkretus_recepto_foto  #caption {
position:absolute;
width:30px;
height:18px;
font-size:28px;
line-height:18px;
text-align:center;
background:#333333;
color:#ffffff;
right:0px;
bottom:0px;
cursor:pointer;
-moz-border-radius: 5px;
border-radius: 5px;
}
#balsavimas {
margin-top:20px;
margin-left:10px;
padding:0 0 0 15px;
}

fieldset.search {

    margin-right:5px;
	border: none;
	width: 243px;
	height:24px;
	margin-top:2px;
	padding:0;
	background: #fdf9fa;
	float:right;
}
.search input, .search button {

	border: none;
	float: left;
	padding:0;	
}
.search input.box {
color:#5d432f;
background:#fdf9fa;
float:right;
	font-size: 13px;
	width: 165px;
	height: 24px;
	padding:0;
	border:none;
	line-height:24px; 
}

.search input.box:focus {
	border:none;
	background: #fdf9fa;
	outline: none;
}
.search button.btn {
margin-right:1px;
	width: 51px;
	color:#5d432f;
	font-size:13px;
	text-align:center;
	font-weight:bold;
	height: 22px;
	margin-top:1px;
	cursor: pointer;
	float:right;
	border:none;
	background:#fdf9fa url('images/paieska_btn.gif') no-repeat;
}
.search_ico {
width:24px;
height:24px;
background:url('images/paieska_ico.gif') no-repeat;
float:left;
padding:0;
margin:0;
border:none;
}

#footer {
	clear: both;
	width: 100%;
	background: #fdf9fa url('images/footer_bcg.gif') repeat-x;
    padding-bottom: 10px; 
	margin-top:10px;
	}
	
#colophon {
width:575px;
position:relative;
margin:0 auto;
padding:0;
overflow: hidden;
border:none
}
#footer_turinys {
padding-right:30px;
padding-bottom:10px;
margin-top:10px;
float:left;
border-right: 2px solid #5d432f;
}
.widget-title_footer {
color: #5d432f;
font-size:13px;
font-weight:bold;
border:none;
}

.widget-area_footer ul a {
	list-style: none;
	margin-left: 0;
	
}
.widget-area_footer ul ul {
list-style:none;
	margin-left: 0px;
	color:#5d432f;	
}
.widget-area_footer ul li {
margin-top:5px;
}
.widget-area_footer a {
	color:#5d432f;
	font-size:12px;
	text-decoration:none;
     border-bottom:2px dotted #5d432f;
} 

#footer_copyright {
font-size:13px;
float:left;
padding-left:30px;
}
#footer_copyright a {
color:#5d432f;
text-decoration:none;
border-bottom:2px dotted #5d432f;

}

.footer_copyright_title {
margin-top:10px;
color: #5d432f;
font-size:15px;
font-weight: bold;
border:none;
}

.receptas_su_info{
width:455px;
display:table;
margin-left:10px;
background:#fdf9fa;
margin-top:5px;
padding-bottom:5px;
}

.receptas_su_info_1{
width:455px;
display:table;
margin-left:10px;
background:#ffffff;
margin-top:5px;
padding-bottom:5px;
}

.receptas_su_info1{
width:440px;
background:#fdf9fa;
display:block;
margin-left:10px;
padding:0 0 0 15px;
}
.receptas_su_info11{
width:440px;
background:#ffffff;
display:block;
margin-left:10px;
padding:0 0 0 15px;
}

.receptas_su_info_foto {
margin-top:8px;
padding:0px;
float:left;
width:130px;
margin-left:15px;
}

#navigacija  {
width:453px;
background:#fdf9fa;
margin-left:10px;
float:left;
text-align:right;
font-size:12px;
margin-top:5px;
}
#navigacija a  {
font-size:12px;
}

.receptas_su_info_pavadinimas a{
margin-left:4px;
float:left;
padding:0 ;
text-align: left; 
padding:0;
font-size:14px;
}
.receptas_su_info_pavadinimas1 a{
width:440px;
font-size:14px;
}

.receptas_su_info_aprasymas {
margin-top:5px;
float:left;
text-align:left;
font-size:12px;
line-height:16px;
color:#5d432f;
margin-left:9px;
width:301px;
}
.receptas_su_info_aprasymas1,.receptas_su_info_aprasymas1 p {
text-align:left;
font-size:12px;
line-height:16px;
color:#5d432f;
margin-top:5px;
padding-bottom:5px;
}
#respond {
	overflow: hidden;
	position: relative;
}
#atsiliepimas {
width:438px;
margin-left:10px;
padding:0 0 0 15px;
border:1px solid #cccccc;
margin-top:5px;
background:#fdf9fa;
}

#komentaras {
margin-top:5px;
width:438px;
margin-left:10px;
padding:0 0 0 15px;
border:1px solid #cccccc;
color:#5d432f;
background:#fdf9fa;
}
#komentaras1 {
margin-top:5px;
width:438px;
margin-left:10px;
padding:0 0 0 15px;
border:1px solid #cccccc;
color:#5d432f;
background:#ffffff;
}
#komentavimo_forma {
width:440px;
margin-left:10px;
padding:0 0 0 15px;
border:1px solid #333333;
}
#siusti,#respond .form-submit input {
cursor:pointer;
margin-left:320px;
border:none;
width:109px;
height:28px;
margin-top:5px;
margin-bottom:5px;
background:url('images/send.png');
}
#autorius_input  {
padding:2px;
margin-top:5px;
height:25px;
width:200px;
border:1px solid #cccccc;
margin-left:22px;
}

#autorius_input ,
#autorius_input input {
padding:2px;
color:#5d432f;
	font-size: 16px;
	line-height: 24px;
}

h3#reply-title {
color:#ffffff;
font-size:20px;
line-height: 28px;
letter-spacing:1px;
}

#respond textarea{
overflow:auto;
color:#5d432f;
padding:2px;
margin-top:5px;
width:400px;
float:right;
margin-right:10px;
height:70px;
border:1px solid #cccccc;
overflow:hidden;
}
#respond label {
color:#5d432f;
font-weight:bold;
font-size: 14px;
}


.komentaro_autorius {
margin-right:15px;
text-align:right;
font-weight:bold;
font-size:12px;
}
.komentaro_tekstas p{
text-align:left;
font-style:italic;
margin-left:3px;
}

.citata {
width:12px;
height:10px;
background:url('images/kabutes.png') no-repeat;
float:left;
margin-left:-12px;

} */

/* Fonts */

/* body,
input,
textarea,
.page-title span,
.pingback a.url {
font-family: 'Open Sans', sans-serif;
}

#access .menu,
#access div.menu ul,
#cancel-comment-reply-link,
.form-allowed-tags,
#site-info,
#site-title,
#wp-calendar,
.comment-meta,
.comment-body tr th,
.comment-body thead th,
.entry-content label,
.entry-content tr th,
.entry-content thead th,
.entry-meta,
.entry-title,
.entry-utility,
#respond label,
.navigation,
.page-title,
.pingback p,
.reply,
.widget-title,
.wp-caption-text {
font-family: 'Open Sans', sans-serif;
}
input[type=submit] {
font-family: 'Open Sans', sans-serif;
}
pre {
font-family: 'Open Sans', sans-serif;
}
code {
	font-family: 'Open Sans', sans-serif;
}

#comments {
	clear: both;
	margin-top:10px;
}

.menu-receptu-tipas-container {
border:1px solid #cccccc;
padding:5px 0 5px 0 ;
}

.menu-salies-virtuve-container {
border:1px solid #cccccc;
padding:5px 5px 5px 0 ;
}

.menu-sventiniai-patiekalai-container {
border:1px solid #cccccc;
padding:5px 0 5px 0 ;
}

.menu-is-ko-gaminama-container {
border:1px solid #cccccc;
padding:5px 0 5px 0 ;
}

.menu-gaminimo-budas-container {
border:1px solid #cccccc;
padding:5px 0 5px 0 ;
}
.taxonomyfor {
background:#fdf9fa;
color:#5d432f;
border:1px solid #cccccc;
margin-left: 10px;
padding:5px 0 5px 30px !important;
width: 423px;

}
.taxonomyfor a {
border:none !important;
font-weight:bold;
}
#breadcrumb {
width:440px;
padding:0 0 0 15px;
color:#5d432f;
font-size:12px;
line-height: 14px;
margin-bottom:10px;
}

#breadcrumb a {
border-bottom:none !important;

}

#breadcrumb1 {
width:440px;
padding:0 0 0 15px;
color:#5d432f;
font-size:12px;
line-height: 14px;
}

#breadcrumb1 a {
border-bottom:none !important;

}

#ad-single  {
width:440px;
margin-top:10px;
padding:0 0 0 15px;
}
#relative {
background:#fdf9fa;
width:438px;
margin-left:10px;
margin-top:5px;
padding:0 0 0 15px;
border:1px solid #cccccc;
}

.post-ratings {
    line-height: 25px;
}

.summary-tag{
	float: left;
	margin-left:5px;
	font-size:12px;
	margin-top:1px;
	color:#5d432f;
} */