/********** General CSS ***********/
body {
    max-width: 1200px;
    margin:    0 auto;
    color: #353535;
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    background: #fff;
}

.top {
    position: fixed;
    overflow: hidden;
    z-index:1000;
    background-color: white;
    width: 100%;
    max-width: 1200px;
}
.main {
    padding-top: 137px;
    background-color: #f0f0f0;
}

.container-fluid {
    padding: 0px;

}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

a {
    color: #FF6F61;
}

a:hover,
a:active,
a:focus {
    color: #353535;
    outline: none;
    text-decoration: none;
}

h1 {
    font-family: Georgia,Times,serif;
    font-size: 32px;
    line-height: 1.2;
    color: #21201f;
    margin-bottom: 14px;
}

h2 {
    font-family: 'Vollkorn';
    font-weight: 700;
}

h4 {
    color: #333;
    font-size: 18px;
    font-weight: 400;
    /* font-family: "Vollkorn", sans-serif; */
    /* line-height: 1.43; */
}


@media(min-width: 992px) {

}

/*********** Nav Bar CSS **********/
.logo {
    height: 100px;
    text-align: center;
    padding-top: 10px;
    background-color: #f0f0f0;
}

.logo a {
    font-family: 'Dancing Script', cursive;
    color: rgba(37, 17, 0, 0.74) ;
    font-size: xxx-large;
   }

.nav {
    position: relative;
}

@media (min-width: 992px) {
    .nav .container-fluid {
        padding-right: 52px;
    }
}

.nav .navbar {
    height: 100%;
    padding: 0;
}

@media (min-width: 768px) {
    
    .nav,
    .nav .navbar {
        background: #565144 !important;
    }
    
    .nav .navbar-brand {
        display: none;
    }
    
    .nav .navbar-dark a.nav-link {
        color: #ffffffa4;
        font-size: 14px;
        text-transform: uppercase;
        border-right: 1px solid #ffffff;
    }
    
    .nav .navbar-dark a.nav-link:hover,
    .nav .navbar-dark a.nav-link.active {
        color: #ffffff;
    }

    .navbar-nav {
        display: flex;
        border-right: 1px solid #ffffff;
    }

    .namukas {
        align-items: center;
        display: flex;
        border-right: 1px solid #ffffff;
    }
}

@media (max-width: 992px) {
    .left {
        display: none;
    }
}

@media (max-width: 768px) {
    
    .logo {
        height: 50px;
        text-align: center;
        padding-top: 0;
        font-size: xx-large;
    }

    .logo a {
        font-size: xx-large;
    }

    .nav {
        padding: 5px 0;
    }
    
    .nav,
    .nav .navbar {
        background: #565144 !important;
        padding-left: 10px;
    }
    
    .nav a.nav-link {
        padding: 5px 0;
    }
    
    .nav .dropdown-menu {
        box-shadow: none;
    }

    .main {
        padding-top: 95px;
    }

    /* galerija */

    .gallery img {
        max-height: 200px !important; 
        vertical-align: middle !important;
        object-fit: cover !important;
    }
 
}



/********* left sidebar ***********/

.sidebar-nav-link {
    margin: 10px;
}
.sidebar-menu {
    margin-bottom: 0px;
    background-color: #eca80d;
    padding: 5px 0 5px 20px;
}

.recipe-by-type {
    background-color: #fbfbfb;
}

.recipe-by-type li:hover {
    background-color: #f0f0f0;
  }

.recipe-by-type ul li{
    line-height: 2.5;
    color: #191714bd !important;
    /* margin-left: 20px; */
    font-weight: 700;
    border-bottom: 1px solid #cccccc;
}  

.recipe-by-type ul li a{
    font-family: "Vollkorn";
    line-height: 2.5;
    color: #191714bd;
    margin-left: 20px;
    font-weight: 700;
}

/* right sidebar */



/********* single recipe***********/


.button-single {
    line-height: 25px;
    padding: 0 12px;
    background: #f4b747;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    font-family: "Lato";
    text-transform: uppercase;
    border-radius: 30px;
    letter-spacing: 2px;
    margin-right: 20px; 
    margin-left: 20px;
    display: table;
}


.single-info {
    float: right;
}

.ingridients li {
    color: #3f3d3b;
    border-bottom: 1px dashed #3f3d3b;
    padding: 12px 0;
}

.single-main ul{
    list-style-type:none;
    padding:0px;
    overflow: hidden;
    line-height: 1.2;
}


.step1 {
    background: #503c152e;
    color: #3f3d3b;
    padding: 25px 30px;
}

.step2 {
    color: #3f3d3b;
    padding: 25px 30px;
    overflow: hidden;
}

.single-main span {
    display: block;
    float: left;
    width: 38px;
    line-height: 38px;
    text-align: center;
    border-radius: 50%;
    background: #2920079c;
    color: #fff;
    font-family: 'Lato';
    font-size: 13px;
    font-weight: 900;
    margin-right: 20px;
}

.instruction {
    overflow: hidden;  
}

@media (max-width: 768px) {
    .single_recipe_title {
        padding-top: 10px;
    }
}

/* vertinimas ir gamybos laikas virs recepto */

.recipe_info {
    display: flex;
    padding-top: 5px;
    border-top: 2px dotted #5d432f; 
    color: #5d432f;
    font-size: 14px;
    justify-content: center;
}

.vertinimas {
    display: inline; 
}

.laikas {
    width: 14px;
    height: 14px;
    background: url(../img/laikas.png);
    float: right;
    margin-top: 3px;
    margin-right: 8px;
}
.starsai {
    margin: 0px 10px; 
}
 

.recipe_info_mobile {
    display: none !important;
}

@media (max-width: 768px) {

    .recipe_info {
        display: none !important;
    }
    .recipe_info_mobile {
        color: #5d432f;
        display: grid !important;
        border-top: 2px dotted #5d432f;
        justify-content: center;
    }

    .like_fb {
        margin-top: 4px;
        /* margin-right: 10px; */
        float: left;
    }
    
    .fblike {
        margin-top: 2px;
    }


    .vertinimas_mobile {
        display: flex;
        float: left;
        margin-left: 10px;
    }

    .laikas {
        margin-top: 5px;
    }

    .button-single {
        margin-right: 5px; 
        margin-left: 7px;
    }
}


/* komentarai */
#respond {
  overflow: hidden;
  position: relative;
}

#autorius_input {
    margin-top: 5px;
    height: 30px;
    width: 200px;
    border: 1px solid #cccccc;
    margin-left: 22px;
    padding: 2px;
    color: #5d432f;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0px !important;
}

#respond {
    padding: 0 15px 0 15px;
    border: 1px solid #cccccc;
    margin-top: 5px;
    background: #fdf9fa;
}

#respond textarea {
    color: #5d432f;
    /* padding: 2px; */
    /* margin-top: 5px; */
    width: -webkit-fill-available;
    /* float: left; */
    margin-left: 22px;
    margin-top: -20px; 

    height: 70px;
    border: 1px solid #cccccc;
    overflow: hidden;
    
}

.comment-form-author{
    margin-bottom: 0px !important;   
}

.label {
    margin-bottom: 0;
}

.kabutes {
    margin-top: -20px; 
}
#siusti {
    cursor: pointer;
    margin-left: 320px;
    border: none;
    width: 109px;
    height: 28px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.mygtukas {
    float: right;
    margin-bottom: 10px; 
}

#komentaras {
    margin-top: 5px;
    width: -webkit-fill-available;;
    padding: 0 0 0 15px;
    border: 1px solid #cccccc;
    color: #5d432f;
    background: #fdf9fa;
}

.komentaro_autorius {
    margin-right: 15px;
    text-align: right;
    font-weight: bold;
    font-size: 12px;
}

.citata {
    width: 12px;
    height: 10px;
    background: url("../img/kabutes.png") no-repeat;
    float: left;
    margin-left: -12px; 
}


/* slider  */

@media (max-width: 768px) {
    .carousel-inner {
        max-height: 200px !important;
    }
    
}

#access {
    display: flex;
}
